
body {
    font-family: Arial, Helvetica, sans-serif; 
    background-color: hsl(288, 40%, 24%); 
    color: #333;
    margin: 0;
    padding: 0;
}


header {
    background-color: #0078d7; 
    color: #3a0909;
    text-align: center;
    padding: 20px;
    font-size: 1.5rem;
    font-weight: bold;
}


main {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.akana {
    background: #168829;
    padding: 25px;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(35, 3, 48, 0.1);
    max-width: 500px;
    width: 100%;
}

.akana h1 {
    text-align: center;
    font-size: 1.2rem;
    margin-bottom: 20px;
    color: #222;
}


form {
    display: flex;
    flex-direction: column;
    gap: 15px; /
}


label {
    font-weight: bold;
    margin-bottom: 5px;
}

input[type="text"],
input[type="number"],
select {
    width: 100%;
    padding: 10px;
    border: 1px solid black;
    border-radius: 5px;
    font-size: 1rem;
}

button {
    background-color: #0078d7;
    color: black;
    border: none;
    padding: 12px;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #005a9e;
}

